html {
  background-color: silver;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  background-color: white;
  height: 356px;
  padding: 0.5rem;
  width: 320px;
}

.live {
  border: 1px solid silver;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}
.live__trigger {
  padding: 0.5rem;
}
.live__time {
  padding: 0.5rem;
}
.live__tag {
  background: red;
  color: white;
  padding: 0.5rem;
}

.radio--trigger {
  display: none;
}
.radio--video:checked ~ .tabs .tab--video {
  border-bottom-color: black;
}
.radio--video:checked ~ .content .panel--video {
  height: auto;
}
.radio--calendar:checked ~ .tabs .tab--calendar {
  border-bottom-color: black;
}
.radio--calendar:checked ~ .content .panel--calendar {
  height: auto;
}
.radio--speakers:checked ~ .tabs .tab--speakers {
  border-bottom-color: black;
}
.radio--speakers:checked ~ .content .panel--speakers {
  height: auto;
}

.tabs {
  margin-bottom: 0.5rem;
}

.tab {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  margin-left: 0.5rem;
}
.tab:first-child {
  margin-left: 0;
}

.panel {
  height: 0;
  overflow: hidden;
}